* {
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f82500;
  color: rgb(108, 113, 122);
  width: 80%;
  margin: auto;
}
.fejlec {
  font-family: Broadway;
  font-size: 40px;
  text-transform: capitalize;
  text-align: center;
  padding: 5px;
  background-color: #303e4e;
  color: #cee7fe;
}
.tartalom h2 {
  padding: 10px;
}
.menu {
  background-color: #434f5d;
  text-align: center;
}
.menu ul {
  display: grid;
  grid-auto-flow: column; /* egymás mellé rakja az elemeket */
  justify-content: center; /* középre igazítja őket */
  gap: 20px; /* távolság a menüpontok között */
  list-style: none;
  padding: 10px 0;
  margin: 0;
}
.menu li {
  padding: 10px;
  margin: 5px;
  list-style-type: none;
}
.menu li a {
  text-decoration: none;
  color: #cee7fe;
  font-size: 20px;
}

.menu li:hover a {
  color: #758ba0;
}
.cim_kep_sz h2 {
  font-size: 20px;
  color: #758ba0;
  background-color: #e7f3ff;
  text-align: center;
}

.tartalom {
  font-size: 15px;
  text-align: justify;
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
.cim_kep_sz {
 display: grid;
  grid-template-rows: auto auto 1fr; 
  /* Cím | kép | szöveg */
  background: #fff;
  margin: 10px;
  padding: 10px;
}
.cim_kep_sz .top {
  display: grid;
  grid-template-rows: auto 1fr;
}
.cim_kep_sz img {
  width: 100%;
  height: 180px;      /* minden kép pontosan ugyanakkora lesz */
  object-fit: cover;  /* levágja a széleket, de nem torzul */
  margin-bottom: 8px;

}
.lablec a {
  text-decoration: none;
  color: #2e5595;
}

/* @media screen and (max-width: 500px){
    .menu ul{
        display: grid;
        grid-template-columns: 1fr;
    }
    .tartalom{
        display: grid;
        grid-template-columns: 1fr;
    }
}
@media screen and (max-width: 750px){

    .tartalom{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
} */
